<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Sepa_Suite">
<listeners>

        <listener class-name="resources.ExtentReporterNG" />

    </listeners>

  <test thread-count="5" name="Test">
    <classes>
      <class name="ergast_API_Test.getdriverlist"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Sepa_Suite -->
